* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    background: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    display: inline;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header nav {
    padding: 7px;
    margin: 7px 0;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

/* apply style to <footer> */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    color: #2a607c;
}

footer div {
    float: center;
    line-height: 1.5;
}

/* Hero Style Start */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

/* Main Content Style Start */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.content {
    width: 75%;
    display: inline-block;
}

.content div {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Main Content Style End */

/* Benefits */
.benefits {
    margin: 0 20px 0 0;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    background-color: #2589bd;
}

.benefits div {
    margin-bottom: 32px;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Aside Content Style End */